<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="nlog.log"
      internalLogLevel="Warn">
  <variable name="appName" value="HealthCheck" />
  <targets>
    <target name="DebugFile"
            xsi:type="File"
            layout="${longdate}|${pad:padding=-6:inner=${threadid}}|${pad:padding=5:inner=${level:uppercase=true}}|${message}"
            fileName="${basedir}/${appName}.log"
            archiveFileName="${basedir}/${appName}.{#}.log"
            archiveAboveSize="2097152"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="ErrorFile"
            xsi:type="File"
            layout="${longdate}|${pad:padding=-6:inner=${threadid}}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}"
            fileName="${basedir}/${appName}_error.log"
            archiveFileName="${basedir}/${appName}_error.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="ColoredConsoleLog"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            layout="${pad:padding=5:inner=${level:uppercase=true}} [${pad:padding=13:inner=${time}}] ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="DebugFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile" />
    <logger name="*" minlevel="Debug" writeTo="ColoredConsoleLog" />
  </rules>
</nlog>
