<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <variable name="appName" value="YourAppName" />
    <targets>
        <target name="DebugFile" xsi:type="File" layout="${longdate}|${pad:padding=-6:inner=${threadid}}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" fileName="${basedir}/logs/debug.log" archiveFileName="${basedir}/logs/debug.{#}.log" archiveAboveSize="2097152" archiveNumbering="Sequence" maxArchiveFiles="10" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
        <target name="InfoFile" xsi:type="File" layout="${longdate}|${pad:padding=-6:inner=${threadid}}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" fileName="${basedir}/logs/info.log" archiveFileName="${basedir}/info.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
        <target name="ErrorFile" xsi:type="File" layout="${longdate}|${pad:padding=-6:inner=${threadid}}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" fileName="${basedir}/logs/error.log" archiveFileName="${basedir}/logs/error.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    <target name="ColoredConsoleLog" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${pad:padding=5:inner=${level:uppercase=true}} [${pad:padding=13:inner=${time}}] ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" /></targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="DebugFile" />
        <logger name="*" minlevel="Info" writeTo="InfoFile" />
        <logger name="*" minlevel="Error" writeTo="ErrorFile" />
    <logger name="*" minlevel="Info" writeTo="ColoredConsoleLog" /></rules>
</nlog>
